*{
    box-sizing: border-box;
    /* font-size: 63.25%; */
    background-color: rgba(185, 227, 243, 0.493) ;
} 
img{
    border-radius: 50%;
}
p{
    background-color: white; 
    text-align: center;
}